#sidebar {
    width:40%;
    height:100%;
    background-color:#F6CE11;
    padding:20px;
    /*text-align: -webkit-center;*/
    display: flex;
    justify-content: center;
}

#sideContent {
    position: sticky;
    top: 50px;
    width: 80%;
    height: fit-content;
}

#modalBg{
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
}

#close {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 20px;
  cursor:pointer;
}

#caption {
    font-size:14px;
    max-width:460px;
    min-height:10px;
}

#switches div {
  height: 100%;
  border-radius: 30px;
  margin:0;
  padding-left: 15px;
  padding-right: 15px;
  cursor:pointer;
}

.selectedSwitch {
    color: #F6CE11;
    background-color: black;
}

.deSelectedSwitch {
    color: black;
    background-color: #F6CE11;
}

#switches div p {
    margin-top: 8px;
}

#switches {
    height: 35px;
    width: max-content;
    border: 1px solid black;
    border-radius: 30px;
    margin-top:15px;
    display:flex;
    justify-content:space-between;
    padding:3px;
}

#mainsection {
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

body {
    display: flex;
  justify-content: center;
  background-color:#EEEEEE;
  margin:0;
}
#mainarea {
    display: flex;
    justify-content: center;
}

#mainarea2 {
    width:70%;
    display: flex;
}

.box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#sidebar p {
    margin-left: unset;
}

#sidebar h3 {
    text-align:center;
}

h3 {
    font-family:arial;
}
#profile {
    margin:auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width:150px;
    height:150px;
    border-radius:100%;
    background-image:url('pics/profile.jpg');
    background-position:center;
    background-repeat: no-repeat;
    border:3px solid white;
    background-size: contain;
}

p {
    font-family:arial;
}

.whitebox {
    margin-right:10px;
    background-color:white;
    border-radius: 4px;
    position: relative;
    padding:10px;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    margin-bottom:10px;
}

.smallbox {
    width:200px;
    height:130px;
}

.bigbox {
    width:315px;
    height:150px
}

.icons {
    display: flex;
  flex-wrap: wrap;
  gap: 9px;
  margin-top:7px;
  padding-left:5px;
}

.icon {
    width:50px;
    height:50px;
    border:1px solid black;
    border-radius:7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:pointer;
}

.boxtitle {
    font-family: arial;
    font-weight: bold;
    margin: 0;
    margin-left: 4px;
}

.boxdesc {
    margin: 0;
    font-family: arial;
    font-size: smaller;
    margin-left:4px;
}
.smallboxes {
    display:flex;
    height: inherit;
    flex-wrap:wrap;
}

.langs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.langs p {
    font-family: arial;
    padding: 2px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    margin: 4px;
    font-size: small;
    margin-bottom: 0px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-left: -10px;
    display: flex;
    justify-content: space-around;
}

.toprow {
    border-bottom: 3px solid #F44336;
}

.secondrow {
    border-bottom: 3px solid #3F51B5;
}

.thirdrow {
    border-bottom: 3px solid #3C8C40;
}
.fourthrow {
    border-bottom: 3px solid #4C636F;   
}

a {
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    color: black;
    font-size:13px;
}

a:hover {
    cursor:pointer;
    color:#F6CE11;
}

.html {
    background-color: #2196F3;
}
.css {
    background-color:#FF7821;
}
.javascript {
    background-color:#3F51B5;
}
.php {
    background-color:#673AB7;
}
.sql {
    background-color:grey;
}
.java {
    background-color:#F44336;
}
.csharp {
    background-color:#009688;
}
.laravel {
    background-color:#673AB7;
}
.angular {
    background-color:red;
}

@media (max-width: 1536px) {

    .bigbox {
        width:240px;
    }
}

@media (max-width: 780px) {

body {
    justify-content: flex-start;
}
.bigbox {
    width:274px;
}
.box {
    height:unset;
}
.smallboxes {
    flex-wrap:wrap;
}
.smallbox {
    height: 130px;
    width:274px;
    margin-bottom: 10px;
}
#sidebar p {
    text-align: left;
    font-size: 15px;
}
#sidebar {
    min-width:35% !important;
}
#mainarea2 {
    width:100%;
}
#close {
    font-size:30px;
}
}